<div class="kongbai-30"></div>
<div class="input-group">
    <input type="text" class="form-control" placeholder="请输入你想搜索的关键字！">
    <span class="input-group-btn">
    	<button class="btn btn-success" type="button">搜索</button>
    </span>
</div><!-- /input-group -->

<div class="product-recommend">
	<p class="right-title">产品推荐</p>
	<div class="product-show">
		<img src="__ROOT__/Public/images/apple.jpg" class="img-thumbnail">
		<div class="product-info">
			<p>空间打了卡酒店可垃圾阿拉斯加的阿里角度看案例较大加速度卡卡啊圣诞节快乐加拉斯酒店看大家爱思考多久阿拉克了阿里看到...</p>
			<button type="button" class="btn btn-info btn-xs">查看产品</button>
			
		</div>
	</div>
	<div class="product-show">
		<img src="__ROOT__/Public/images/apple.jpg" class="img-thumbnail">
		<div class="product-info">
			<p>空间打了卡酒店可垃圾阿拉斯加的阿里角度看案例较大加速度卡卡啊圣诞节快乐加拉斯酒店看大家爱思考多久阿拉克了阿里看到...</p>
			<button type="button" class="btn btn-info btn-xs">查看产品</button>
			
		</div>
	</div>
	<div class="product-show">
		<img src="__ROOT__/Public/images/apple.jpg" class="img-thumbnail">
		<div class="product-info">
			<p>空间打了卡酒店可垃圾阿拉斯加的阿里角度看案例较大加速度卡卡啊圣诞节快乐加拉斯酒店看大家爱思考多久阿拉克了阿里看到...</p>
			<button type="button" class="btn btn-info btn-xs">查看产品</button>
			
		</div>
	</div>
	<div class="product-show">
		<img src="__ROOT__/Public/images/apple.jpg" class="img-thumbnail">
		<div class="product-info">
			<p>空间打了卡酒店可垃圾阿拉斯加的阿里角度看案例较大加速度卡卡啊圣诞节快乐加拉斯酒店看大家爱思考多久阿拉克了阿里看到...</p>
			<button type="button" class="btn btn-info btn-xs">查看产品</button>
			
		</div>
	</div>
</div>

<div class="kongbai-30"></div>
<div>
	<div>	
	  <!-- Nav tabs -->
	  <ul class="nav nav-tabs" role="tablist">
	    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">最新动态</a></li>
	    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">最近访客</a></li>
	    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">最新留言</a></li>
	  </ul>

	  <!-- Tab panes -->
	  <div class="tab-content">
	    <div role="tabpanel" class="tab-pane active" id="home">
	    	<table class="table table-hover" style="border-bottom:1px solid #ddd;">
	    		<tr>
	    			<td class="col-xs-6">2015-11-4</td>
	    			<td class="col-xs-6">苹果上架了啊！</td>
	    		</tr>
	    		<tr>
	    			<td class="col-xs-6">2015-11-4</td>
	    			<td class="col-xs-6">橘子上架了啊！</td>
	    		</tr>
	    		<tr>
	    			<td class="col-xs-6">2015-11-4</td>
	    			<td class="col-xs-6">香蕉上架了啊！</td>
	    		</tr>
	    		<tr>
	    			<td class="col-xs-6">2015-11-4</td>
	    			<td class="col-xs-6">苹果上架了啊！</td>
	    		</tr>
	    		<tr>
	    			<td class="col-xs-6">2015-11-4</td>
	    			<td class="col-xs-6">橘子上架了啊！</td>
	    		</tr>
	    		<tr>
	    			<td class="col-xs-6">2015-11-4</td>
	    			<td class="col-xs-6">香蕉上架了啊！</td>
	    		</tr>
	    	</table>
	    	<p class="text-center">
	    		<a type="button" class="btn btn-danger">点击查看更多</a>
	    	</p>
	    	
	    </div>
	    <div role="tabpanel" class="tab-pane" id="profile">
	    	<div class="col-xs-3">
	    		<img src="__ROOT__/Public/images/apple.jpg" alt="" class="img-circle favicon">
	    	</div>
	    	<div class="col-xs-3">
	    		<img src="__ROOT__/Public/images/apple.jpg" alt="" class="img-circle favicon">
	    	</div>
	    	<div class="col-xs-3">
	    		<img src="__ROOT__/Public/images/apple.jpg" alt="" class="img-circle favicon">
	    	</div>
	    	<div class="col-xs-3">
	    		<img src="__ROOT__/Public/images/apple.jpg" alt="" class="img-circle favicon">
	    	</div>
	    	<div class="col-xs-3">
	    		<img src="__ROOT__/Public/images/apple.jpg" alt="" class="img-circle favicon">
	    	</div>
	    	<div class="col-xs-3">
	    		<img src="__ROOT__/Public/images/apple.jpg" alt="" class="img-circle favicon">
	    	</div>
	    	<div class="col-xs-3">
	    		<img src="__ROOT__/Public/images/apple.jpg" alt="" class="img-circle favicon">
	    	</div>
	    	<div class="col-xs-3">
	    		<img src="__ROOT__/Public/images/apple.jpg" alt="" class="img-circle favicon">
	    	</div>
	    	<div class="col-xs-12 kongbai-30"></div>
	    	<p class="text-center">
	    		<a type="button" class="btn btn-danger">点击查看更多访客</a>
	    	</p>
	    	
	    </div>
	    <div role="tabpanel" class="tab-pane" id="messages">
	    	<div class="kongbai-5"></div>
	    	<div class="message-cell bg-success" style="margin-bottom:10px;">	    		
	    		<img src="__ROOT__/Public/images/apple.jpg" class="img-thumbnail">
	    		<div class="message-content">
	    			<p class="message-tittle">Admin <span>16.35  2015-11-4</span></p>
					<p class="message-body">这东西很好啊！</p>

	    		</div>
	    	</div>
	    	<div class="message-cell bg-info" style="margin-bottom:10px;">	    		
	    		<img src="__ROOT__/Public/images/apple.jpg" class="img-thumbnail">
	    		<div class="message-content">
	    			<p class="message-tittle">Admin <span>16.35  2015-11-4</span></p>
					<p class="message-body">赞一个！</p>

	    		</div>
	    	</div>
	    	<div class="message-cell bg-danger" style="margin-bottom:10px;">	    		
	    		<img src="__ROOT__/Public/images/apple.jpg" class="img-thumbnail">
	    		<div class="message-content">
	    			<p class="message-tittle">Admin <span>16.35  2015-11-4</span></p>
					<p class="message-body">不错不错！</p>

	    		</div>
	    	</div>
	    	<div class="col-xs-12 kongbai-5"></div>
	    	<p class="text-center">
	    		<a type="button" class="btn btn-danger">点击查看更多留言</a>
	    	</p>
	    </div>
	  </div>
	</div>

</div>